<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <springProperty name="APPLICATION_NAME" source="spring.application.name" scope="context"/>

    <property name="LOG_PATH" value="${LOG_PATH:-/opt/logs/${APPLICATION_NAME}}"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } -&#45;&#45; [%15.15t] %-40.40logger{39} : %m%n%wEx"/>
    <property name="LOG_PATTERN_ANSI"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <appender name="STDOUT_ANSI" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN_ANSI}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APPLICATION_NAME}.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/bak/${APPLICATION_NAME}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>3</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="SIFTING" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>sifting</Key>
            <DefaultValue>sifting</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${sifting}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${LOG_PATH}/${APPLICATION_NAME}.${sifting}.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${LOG_PATH}/bak/${APPLICATION_NAME}.${sifting}.%d{yyyy-MM-dd}.%i.log
                    </FileNamePattern>
                    <MaxHistory>3</MaxHistory>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <encoder>
                    <pattern>${LOG_PATTERN}</pattern>
                    <charset>utf8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="MESSAGE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>message</Key>
            <DefaultValue>message</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${sifting}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${LOG_PATH}/${APPLICATION_NAME}.${message}.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${LOG_PATH}/bak/${APPLICATION_NAME}.${sifting}.%d{yyyy-MM-dd}.%i.log
                    </FileNamePattern>
                    <MaxHistory>3</MaxHistory>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <encoder>
                    <pattern>%m%n</pattern>
                    <charset>utf8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <logger name="org.apache" level="INFO" />

    <logger name="com.ytoglobal.overseas.customs.open.common.util.LogUtils" level="INFO" additivity="false">
        <appender-ref ref="MESSAGE"/>
    </logger>

    <!--
            <root level="INFO">
                <appender-ref ref="STDOUT_ANSI"/>
                <appender-ref ref="FILE"/>
            </root>
        -->

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT_ANSI"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="uat">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT_ANSI"/>
        </root>
    </springProfile>

    <springProfile name="hd_prod">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT_ANSI"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT_ANSI"/>
        </root>
    </springProfile>
</configuration>